@font-face {
  font-family: "iconfont"; /* Project id 3317516 */
  src: url('iconfont.woff2?t=1656501008500') format('woff2'),
       url('iconfont.woff?t=1656501008500') format('woff'),
       url('iconfont.ttf?t=1656501008500') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kele:before {
  content: "\e6c6";
}

.icon-kele1:before {
  content: "\e612";
}

.icon-xinfeng:before {
  content: "\e640";
}

.icon-mudedi:before {
  content: "\e628";
}

.icon-nav:before {
  content: "\e60f";
}

.icon-sousuo1:before {
  content: "\e60a";
}

.icon-BaiDu:before {
  content: "\e608";
}

.icon-baidutuijian:before {
  content: "\e653";
}

.icon-xiangxia:before {
  content: "\e607";
}

.icon-bijiben:before {
  content: "\e605";
}

.icon-yunying:before {
  content: "\e657";
}

.icon-shuben:before {
  content: "\e606";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-yingxionglianmeng:before {
  content: "\e772";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-faxian:before {
  content: "\e68c";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-huafei:before {
  content: "\e604";
}

.icon-anzhuo:before {
  content: "\e603";
}

.icon-pingguo:before {
  content: "\e610";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-duoyun-1:before {
  content: "\e679";
}

.icon-daxue:before {
  content: "\e67a";
}

.icon-dayu:before {
  content: "\e67b";
}

.icon-duoyun-3:before {
  content: "\e67c";
}

.icon-duoyun-2:before {
  content: "\e67d";
}

.icon-dagou:before {
  content: "\e616";
}

.icon-24gf-cartFull10:before {
  content: "\e884";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-gouwuche:before {
  content: "\e63f";
}

